<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	
	<servlet>
		<servlet-name>App5</servlet-name>
		<servlet-class>com.servlet.context.DemoServlet</servlet-class>
	</servlet>

	<context-param>
	<param-name>uname</param-name>
	<param-value>Motahharul Haque</param-value>
	</context-param>
	<context-param>
	<param-name>email</param-name>
	<param-value>Haque123@gmail.com</param-value>
	</context-param>

	<!-- <servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/validation</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Welcome</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping> -->
</web-app> 