<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>App29</servlet-name>
		<servlet-class>DemoServletInit</servlet-class>
		<init-param>
			<param-name>PhoneNumber</param-name>
			<param-value>9939612345</param-value>
		</init-param>
		<init-param>
			<param-name>MailId</param-name>
			<param-value>huque@gmail.com</param-value>
		</init-param>
		<init-param>
			<param-name>UserName</param-name>
			<param-value>haque123</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>App29</servlet-name>
		<url-pattern>/demo</url-pattern>
	</servlet-mapping>
</web-app> 
